.designerMenu {
	width: 1200px;
	height: auto;
}

#designerTable {
}

#designerTable td {
	text-align: center;
	color : #242424;
	border: 1px solid #909090;
	vertical-align: middle;
	height: 40px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

#designerTable tr:not(.designerListTr) {
	text-align: center;
	border-bottom: 2px solid #484848;
}

#designerTable tbody {
	text-align: center;
	color : black;
	padding: 5px;
	border: 1px solid black;
	border-spacing: 1;
	overflow: scroll;
}

#designerTable input{
	transition: .2s ease;
}

#designerTable input[type=button] {
	font-size: 13px;
}

.designerMenu #designerTable input[type=checkbox] {
	width: 15px;
	height: 15px;
}

/* 수정 삭제 버튼 */
#designerTable #designerModify:hover,
#designerTable .designerDelete:hover,
#designerTable #designerModifyCancel:hover {
	background-color: #484848;
	color: #ffffff;
}

/* �뵒�옄�씠�꼫 異붽�*/
.designerMenu.designerAdd .designerAddDiv {
  position: absolute;
  top: 110px;
  right: 35%;
  width: 500px;
  z-index: 11;
  min-width: 500px;
  height: 560px;
  border-radius: 5px;
  padding: 30px 0 40px;
  overflow: hidden;
}

.designerMenu.designerAdd .designerAddDiv .designerAddForm {
	position: relative;
	top: 0;
	right: 0;
}

.designerMenu.designerAdd .designerAddDiv .designerAddTitle, /* �뜝�럡留믣뜝�럥堉딁뼨�먯삕�뜝�럩�겱("占쎈쑏熬곣뫅�삕�뵓怨뺣쐡占쎄퉰 嶺뚢돦堉먪뵳占�") */
.designerMenu.designerAdd .designerAddDiv .input-container, /* �뜝�럩�젧�솻洹⑥삕 Input占쎄껀�뜝�띂寃ュ뜝占� */
.designerMenu.designerAdd .designerAddDiv .button-container,
.designerMenu.designerAdd .designerAddDiv .idValid-container,
.designerMenu.designerAdd .designerAddDiv .pwdValid-container { /* NEXT�뵓怨뚯뫓占쎈괏 */
  left: 0;
  opacity: 0.9;
  visibility: visible;
  transition: .3s ease;
}

/* �뤆�룊�삕 占쎄껀�뜝�띂寃ヨ쥈�뫗逾� �뜝�럩紐쎾뜝�럥裕� �뜝�럥六삥뤆�룊�삕 */
.designerMenu.designerAdd .designerAddDiv .designerAddTitle {
  transition-delay: .3s;
}
.designerMenu.designerAdd .designerAddDiv .input-container,
.designerMenu.designerAdd .designerAddDiv .idValid-container,
.designerMenu.designerAdd .designerAddDiv .pwdValid-container {
  transition-delay: .4s;
}
.designerMenu.designerAdd .designerAddDiv .button-container {
  transition-delay: .5s;
}

.designerAddDiv .designerAddTitle,
.designerAddDiv .input-container,
.designerAddDiv .button-container,
.designerAddDiv .idValid-container,
.designerAddDiv .pwdValid-container {
  left: 100px;
  opacity: 1;
  visibility: hidden;
}

/* 占쎈쑏熬곣뫅�삕�뵓怨뺣쐡占쎄퉰 嶺뚢돦堉먪뵳占� �뜝�럥�빆�뜝�룞�삕�뜝�럩諭� �뜝�럥瑜� �뵓怨뚯뫓占쎈괏 �솻洹⑥삕�뜝�럩�꼨 */
.designerMenu.designerAdd .designerAddDiv .designerAddToggle {
  position: absolute;
  top: 40px;
  right: 100px;
  box-shadow: none;
  -webkit-transform: scale(10);
  transform: scale(10);
  transition: -webkit-transform .3s ease;
  transition: transform .3s ease;
  transition: transform .3s ease, -webkit-transform .3s ease;
}

.designerMenu.designerAdd .designerAddDiv .designerAddToggle:before {
  content: '';
}

/* 占쎈쑏熬곣뫅�삕�뵓怨뺣쐡占쎄퉰 嶺뚢돦堉먪뵳占� �뜝�럩�쓧嶺뚳퐦�삕 */
.designerAddDiv {
  position: relative;
  top: 10px;
  right: -500px;
  z-index: 10;
  width: 60px;
  height: 60px;
  background: #878787;
  border-radius: 100%;
  box-shadow: none;
  padding: 0;
  transition: .3s ease;
}

/* 占쎈쑏熬곣뫅�삕�뵓怨뺣쐡占쎄퉰 嶺뚢돦堉먪뵳占� �뵓怨뚯뫓占쎈괏 */
.designerAddDiv .designerAddToggle {
  position: absolute;
  background: #878787; /* �뵓怨뚯뫓占쎈괏, 嶺뚢돦堉먪뵳占� �뜝�럥夷� �뛾�룄�쀧몭�엪�삕繹먲옙 */ 
  width: 60px;
  height: 60px;
  border-radius: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  color: #ffffff; /* �뜝�럥占쎈낑�삕占쎈츩�뜝�럥諭� �뜝�럡�돰濚밸㉡�삕 */
  font-size: 0px;
  line-height: 108px; /* �뜝�럥占쎈낑�삕占쎈츩�뜝�럥諭� �뜝�럩留꾤뇖�궪�삕 */
  text-align: center;
  cursor: pointer;
}

/* �뵓怨뚯뫓占쎈괏 �뜝�럥占쎈낑�삕占쎈츩�뜝�럥諭� */
.designerAddDiv .designerAddToggle:before {
  content: '\f067';
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 60px;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
}

.designerAddDiv .designerAddForm {
	position: absolute;
	top: -300px;
	right: -1500px;
}

/* input �뜝�럩留꾤뇖�궪�삕 �댖怨뚰�ｏ옙�젧 */
.designerAddDiv .input-container {
  position: relative;
  margin: 0px 30px 30px 30px;
}

/* �뜝�럡留믣뜝�럥堉� title, close�뵓怨뚯뫓占쎈괏 */
.designerAddDiv .designerAddTitle{
  font-size : 30px;
  position: relative;
  text-align: left;
  border-left: 5px solid #ffffff;
  color: #ffffff;
  margin: 0 0 40px;
  padding: 10px 0px 0px 50px;
  font-weight: bold;
}

.designerAddDiv .designerAddTitle .close {
  cursor: pointer;
  position: absolute;
  top: -5px;
  right: 60px;
  display: inline;
  color: #ffffff;
  font-size: 58px;
  font-weight: 400;
}

.designerAddDiv .designerAddTitle .close:before {
  content: '\00d7';
}

/* Input, label �뜝�럡�맟�뜝�럩�젧 */
.designerAddDiv .input-container input {
  outline: none;
  z-index: 1;
  position: relative;
  background: none;
  width: 100%;
  height: 60px;
  left: 0px;
  border: 0;
  color: #ffffff;
  font-size: 20px;
  font-weight: 400;
}

.designerAddDiv .input-container label { /* �뜝�럩逾х뵓怨ㅼ삕 �뜝�럩逾졾뜝�럥吏� �뜝�럩�쓧 �뜝�럡�돰�뜝�럡留� */
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgba(255, 255, 255, 0.8);
  font-size: 15px;
  font-weight: 300;
  line-height: 60px;
  transition: 0.2s ease; /* label �뼨�먯삕�뜝�럩�겱�뤆�룊�삕 �뜝�럩沅욃뜝�럩逾ф뤆�룊�삕�뜝�럥裕� �뜝�럥爰쀥뜝�럥利� */
}

.designerAddDiv .input-container input:focus ~ label {
  color: #ffffff;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);  
          /* scale(�뼨�먯삕�뜝�럥�럞�뜝�럡苡욜뼨�먯삕) 
          	 translate(x占쎈퉲�뜝占�, y占쎈퉲�뜝占�)*/
}

.designerAddDiv .input-container input:valid ~ label {
  color: #ffffff;
  -webkit-transform: translate(-12%, -50%) scale(0.75);
          transform: translate(-12%, -50%) scale(0.75);
}

.designerAddDiv .input-container input:focus ~ .bar:before,
.designerAddDiv .input-container input:focus ~ .bar:after {
	width: 50%;
}

.designerAddDiv .input-container input:valid ~ label {
  color: #ffffff;
}

/* Input �뜝�럥�닡�뜝�럩�굥 �뜝�럡�맖 */
.designerAddDiv .input-container .bar::before,
.designerAddDiv .input-container .bar::after {
	content: "";
}

/* focus �뜝�럩�쓧 */
.designerAddDiv .input-container .bar {
  position: absolute;
  top: 58px;
  left: 10;
  bottom: 0;
  background: rgba(255, 255, 255, 0.8);
  width: 100%;
  height: 1px;
}

/* focus �뜝�럩�쐩 */
.designerAddDiv .input-container .bar:before, .designerAddDiv .input-container .bar:after {
  content: '';
  position: absolute;
  background: #ffffff;
  width: 0;
  height: 2px;
  transition: .2s ease;
}

.designerAddDiv .input-container .bar:before {
  left: 50%;
}

.designerAddDiv .input-container .bar:after {
  right: 50%;
}

/* NEXT �뵓怨뚯뫓占쎈괏 */
.designerAddDiv .button-container button {
  width: 350px;
  height: 70px;
  font-size: 25px;
  align: center;
  background: #ffffff;
  border-color: #ffffff;
  font-weight: bold;
}

.designerAddDiv .button-container button span {
  color: #878787;
}

.designerAddDiv .button-container button:hover {
  background: rgba(255, 255, 255, 0.9);
  transition: .2s ease;
}

.designerAddDiv .button-container button:designerAdd:before, .designerAddDiv .button-container button:focus:before {
  display: none;
}

/* valid Div */
.idValid-container {
	position: relative;
	top: -30px;
 	margin: 0px 20px 20px 30px;
}

.pwdValid-container {
	position: relative;
	top: -45px;
 	margin: 0px 20px 3px 30px;
}