/* 총 예약 수 */
.totalReservation {
	color : #636363;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
}

.total {
	position: relative;
	
}

.totalReserve,
.totalPrice {
	font-size: 18px;
	padding-top: 5px;
}

/* 시간 / 요일 */
.backslash {
	background: url('http://cdn.zetawiki.com/png/backslash.png');
	background-size: 100% 100%;
	background-color: white;
	border: 1px solid #909090;
	color: #636363;
	text-align: left;
}

.backslash div {
	text-align: right;
	padding: 5px 7px 0px 0px;
}

/* 일정표 테이블 최상단 tr */
.topTr {
	border-top: 2px solid #909090;
	border-bottom: 2px solid #909090;
	font-weight: bold;
}

.year {
	position: relative;
	left: 400px;
	font-size: 30px;
	margin-bottom: 10px;
}

#designerTable td:not(.backslash) {
	text-align: center;
	color : #242424;
	border: 1px solid #909090;
	vertical-align: middle;
	height: 40px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

#reserveInfoOpen {
	opacity: .9;
	transition: .2s ease;
}

#reserveInfoOpen:hover {
	opacity: 1;
	transition: .2s ease;
}

/* 다음주,저번주 버튼 */
.changeWeekBtn {
	background-color : #484848;
	width: 80px;
	height: 40px;
	color: #ffffff;
	font-size: 20px;
	margin-left: 5px;
	opacity: .6;
	transition: .08s ease-in;
}

.changeWeekBtn:hover {
	opacity: .9;
	transition: .08s ease;
}

/* 모달 */
.white_content {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.1);
    opacity:0;
    -webkit-transition: opacity .15s ease-in;
    -moz-transition: opacity .15s ease-in;
    transition: opacity .15s ease-in;
    pointer-events: none;
}
.white_content:target {
    opacity:1;
    pointer-events: auto;
}
.white_content > div {
	position: absolute;
	top: 30%;
	left: 43%;
	width: 320px;
	height: 260px;
	color : #000000;
	font-weight: bold;
	padding: 16px;
	border: 2px solid #000000;
	background-color: #EDEDED;
	overflow: auto;	
}

#reserveInfoClose {
	position : absolute;
	top: 13px;
	right: 20px;
}