.myPage_menu {
	float: left;
	width: 230px;
	height: 600px;
	margin: 30px 30px 40px 200px;
	padding-top: 20px;
	border: 1px solid black;
	text-align: center;	
}

.myPage_body {
	float: left;
	width: 1300px;
	height: auto;
	min-height: 600px;
	margin: 30px 0px 60px 0px;
	border: 1px solid #909090;
}

.myPage {
	width: 2000px;
}

footer {
    background: #2b2b2b;
    color: #ddd;
    padding: 50px 0 30px;
}