* {
	font-family: 'Nanum Gothic', sans-serif;
}

.hairShopManagement {
	color : #636363;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
	width: 1200px;
	height: auto;
}

.hairShopTotal {
	position: relative;
	font-size: 18px;	
}

.totalHairShop {
	font-size: 18px;
	padding-top: 5px;
}

.hairShopManagement {
	width: 1200px;
	height: auto;
}

table {
	border: 2px solid #EDEDED;
	padding: 5px;
}

table td {
	text-align: center;
	height: 40px;
	width: 1141px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

table tbody {
	text-align: center;
	color : black;
	padding: 5px;
	border: 1px solid black;
	border-spacing: 1;
	overflow: scroll;
}

table input{
	transition: .2s ease;
}

table input[type=button] {
	font-size: 13px;
}

.hairShopManagement table input[type=checkbox] {
	width: 15px;
	height: 15px;
}

/* 헤어샵 리스트 div */
.hairShopManagement div:not(.hairShopTotal) {
	float: left;
	border: 1px solid #000000;
	border-bottom: 2px solid #000000;
	border-top: none;
	height: 30px;
	text-align: center;
	line-height: 28px;
	margin-top: -2px;
	display: none;
}

/* 헤어샵 수정, 삭제 버튼 */
.hairShopDeleteBtn {
	opacity: .8;
	transition: .15s ease;
}
.hairShopDeleteBtn:hover {
	opacity: 1;
	transition: .15s ease;
}

.hairShopModifyBtn {
	opacity: .7;
}
.hairShopModifyBtn:hover {
	opacity: 1;
	transition: .15s ease;
}