.hairShopManagement {
	color : #636363;
	font-weight: bold;
	font-size: 15px;
	font-family: 'Nanum Gothic', sans-serif;
	width: 1200px;
	height: auto;
}

.hairShopTotal {
	position: relative;
	font-size: 18px;	
}

.totalHairShop {
	font-size: 18px;
	padding-top: 5px;
}

.hairShopManagement {
	width: 1200px;
	height: auto;
}

#hairShopListTable {
}

#hairShopListTable td {
	text-align: center;
	color : #242424;
	border: 1px solid #909090;
	vertical-align: middle;
	height: 40px;
	font-family: 'Nanum Gothic', sans-serif;
	font-weight: bold;
}

#hairShopListTable tr {
	text-align: center;
}

#hairShopListTable tbody {
	text-align: center;
	color : black;
	padding: 5px;
	border: 1px solid black;
	border-spacing: 1;
	overflow: scroll;
}

#hairShopListTable input{
	transition: .2s ease;
}

#hairShopListTable input[type=button] {
	font-size: 13px;
}

.hairShopManagement #hairShopListTable input[type=checkbox] {
	width: 15px;
	height: 15px;
}