<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="boardSQL">
	
	<insert id="boardWrite" parameterType="java.util.Map">
		insert into board
		values(#{hairShopId},
			seq_board.nextval
			,#{email}
			,#{subject}
			,#{content}
			,seq_board.currval,
			sysdate)<!-- 원글ref = seq -->
	</insert>
	
	<!-- 목록 -->
	<select id="getBoardList" parameterType="java.util.Map" resultType="board">
		select * from 
		(select rownum rn, tt.* from
		(select * from board order by ref desc)tt
		)where rn between #{startNum} and #{endNum}
	</select>
	
	<!-- 총글수 -->
	<select id="getBoardTotalA" resultType="int">
		select count(*) from board
	</select>
	
	<select id="boardView" parameterType="int" resultType="board">
		select * from board where seq=#{seq}
	</select>
	
	<!-- 글수정 -->
	<update id="boardModify" parameterType="java.util.Map">
		update board set subject=#{subject}, content=#{content}, logtime=sysdate where seq=#{seq}
	</update>
	
	<!-- 글삭제 -->
	<delete id="boardDelete" parameterType="int">
		delete board where seq=#{seq}	
	</delete>
	
	<!-- 검색 -->
	<select id="boardSearch" parameterType="java.util.Map" resultType="board">
		select * from 
		(select rownum rn, tt.* from
		(select * from board 
		 where ${searchOption} like '%'||#{keyword}||'%'
		 order by ref desc)tt
		)where rn between #{startNum} and #{endNum}
	</select>
	
	<select id="getBoardSearchTotalA" parameterType="java.util.Map" resultType="int">
		select count(*) from BOARD where ${searchOption} like '%'||#{keyword}||'%'
	</select>
</mapper>