<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mainSQL">
	<select id="getRecommendView" resultType="java.util.Map">
		select * from(select c.*, to_char(avg(r.starscope),'FM90.0') avg, min(s.price) min, max(s.price) max from hairshoprecommend c inner join review r on c.hairshopid=r.hairshopid inner join serviceInfo s on c.hairshopid=s.hairshopid group by c.hairshopid, c.hairshopimage, c.name, c.price,c.addr1,c.addr2, c.opentime, c.closetime) where rownum between 1 and 6
	</select>
	
</mapper>